[core]
        sparsecheckout = true
        editor = nano
[color]
        ui = true
[alias]
        a = add
        ap = add --patch
        am = am -s
        c = commit -s
        ca = commit -s --amend
        co = checkout
        b = branch -vv
        l = log --graph --all --abbrev-commit --date=relative --format=format:'%C(bold blue)%h%C(reset) %C(green)%ar %C(blue)%an%C(bold blue)%d%C(reset)%n        %C(white)%s%n'
        lt = log --graph --abbrev-commit --date=relative --format=format:'%C(bold blue)%h%C(reset) %C(green)%ar %C(blue)%an%C(bold blue)%d%C(reset)%n        %C(white)%s%n'
        lf = log --pretty=fuller
        l1 = log --pretty=oneline --decorate
        lbdiff = log --left-right --graph --cherry-pick --pretty=oneline
        s = status
        d = diff
        ds = diff --stat
        dc = diff --cached
        dcs = diff --cached --stat
        dp = show
        dhh = diff HEAD^!
        dhhs = diff HEAD^! --stat
        doh = diff origin/master HEAD
        dohs = diff origin/master HEAD --stat
        rb = rebase
        rbi = rebase -i
        rbio = rebase -i origin/master
        t = tag -a
        tl = tag -ln1
        lo = ls-files --others --exclude-standard
[color "status"]
  added = yellow
  changed = green
  untracked = cyan


